nav {
    background: #337ab7;
}

nav a {
    color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a.active, .router-link-active {
    background: #5BC0DE;
}

.menu-active {
    font-weight: 700;
}
