<div class="container spacing">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td [hoverHighlight]>{{user.name}}</td>
                <td [hoverHighlight]="'#5ADDA5'">{{user.email}}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['UserDetails', { id: user.id }]">Edit</a>
                    <button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" [routerLink]="['UserDetails', { id: null }]">New user</a>
    </div>
</div>