<div class="grey">
    <div class="container spacing">
        <h2>Our users</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><a class="btn btn-primary" [routerLink]="['UserDetails', { id: user.id }]">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>